<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="modal_content" title="클릭하면 창이 닫힙니다." style="width: 520px">
    <div class="modal-top-banner">
        <div style="font-weight: bolder; padding-top: 10px;padding-left: 10px; display: inline-block; float: left; font-size: 30px; color: white">문진표 등록</div>
    </div>
    <div class="modal_content_container">

        <table class="info-table docModalInfoTable">
            <tr>
                <td class="td-info-title">등록일</td>
                <td colspan="4">
                    <input type="date" style="width: 30%; float: left" id="documentEnrollDate" name="documentEnrollDate">
                </td>
            </tr>
            <tr>
                <td class="td-info-title">운동목표</td>
                <td colspan="4">
                    <select name="documentGoal" id="documentWorkOutGoal" style="width: 30%; float: left">
                        <option value="선택">선택</option>
                        <option value="체중감량">체중감량</option>
                        <option value="근력강화">근력강화</option>
                        <option value="재활">재활</option>
                        <option value="체형교정">체형교정</option>
                        <option value="건강증진">건강증진</option>
                        <option value="체력증진">체력증진</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-info-title">체형정보</td>
                <td colspan="4">
                    <select name="documentBodyInfo" id="documentBodyInfo" style="width: 30%; float: left">
                        <option value="선택">선택</option>
                        <option value="정상">정상</option>
                        <option value="과후만">과후만</option>
                        <option value="과전만">과전만</option>
                        <option value="측만">측만</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-info-title">통증정보</td>
                <td colspan="4">
                    <select name="documentPainInfo" id="documentPainInfo" style="width: 30%; float: left">
                        <option value="선택">선택</option>
                        <option value="목">목</option>
                        <option value="허리">허리</option>
                        <option value="어깨">어깨</option>
                        <option value="골반">골반</option>
                        <option value="무릎">무릎</option>
                        <option value="발목">발목</option>
                        <option value="기타">기타</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td rowspan="3" class="td-info-title">
                    인바디
                </td>
                <td class="td-info-title">체중(kg)</td>
                <td>
                    <input type="number" class="documentEnrollContents" id="documentWeight" name="documentWeight">
                </td>
                <td class="td-info-title">근육량(kg)</td>
                <td>
                    <input type="number" class="documentEnrollContents" id="documentMuscle" name="documentMuscle">
                </td>
            </tr>
            <tr>
                <td class="td-info-title">체지방량(kg)</td>
                <td>
                    <input type="number" class="documentEnrollContents" id="documentFatKg" name="documentFatKg">
                </td>
                <td class="td-info-title">체지방률(%)</td>
                <td>
                    <input type="number" class="documentEnrollContents" id="documentFatPercent" name="documentFatPercent">
                </td>
            </tr>
            <tr>
                <td class="td-info-title">신체점수(점)</td>
                <td>
                    <input type="number" class="documentEnrollContents" id="documentBodyScore" name="documentBodyScore">
                </td>
                <td class="td-info-title"></td>
                <td>
                </td>
            </tr>

        </table>


        <div class="enroll-button-container">
            <button type="button" id="documentEnrollCompleteButton" class="user-registration-button" style="background-color: #01B0F1; color: #FFFFFF">추가</button>
            <button type="reset" class="user-registration-button enrollCancelButton" style="color: #333333;">취소</button>
        </div>
    </div>
</div>
</body>
<script src="/js/sidebar.js"></script>
<script>
    $(".enrollCancelButton").click(function(){
        closeModal();
    });
    console.log("member id : " + $("input[name=memberId]").val());



    function closeModal(){
        let modalWin = $(".modal");
        modalOff();
        modalWin.empty();

        console.log("close document modal");
    }

    $("#documentEnrollCompleteButton").click(function (){
        let params = {
            memberId : $("#memberId").text(),
            documentDate:$("#documentEnrollDate").val(),
            documentGoal:$("#documentWorkOutGoal").val(),
            documentBodyInfo:$("#documentBodyInfo").val(),
            documentPainInfo:$("#documentPainInfo").val(),
            documentWeight:$("#documentWeight").val(),
            documentMuscle:$("#documentMuscle").val(),
            documentFatKg:$("#documentFatKg").val(),
            documentFatPercent:$("#documentFatPercent").val(),
            documentBodyScore:$("#documentBodyScore").val(),
        }
        closeModal();
        console.log(params);
        $.ajax({
            url:"/admin/documentEnroll",
            type:'get',
            async:false,
            data : params,
            success:function (){
                alert("문진표 등록 완료");
                $historyBody.empty();
                $historyBody.load("/admin/documentHistory","memberId="+$("#memberId").text(),function(){
                    console.info("documentHistory refreshed");
                });
                closeModal();
            },
            error:function(){
                alert("문진표 등록 실패");
            }
        });
    })


</script>
<script>

</script>
</html>