<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="modal_content"
     title="클릭하면 창이 닫힙니다.">
    <div class="modal-top-banner">
        <div style="font-weight: bolder; padding-top: 10px;padding-left: 10px; display: inline-block; float: left; font-size: 30px; color: white">회원 등록</div>
    </div>
    <div class="modal_content_container">

        <form action="/admin/enroll" method="get">
            <table class="info-table">
                <tr>
                    <td class="td-info-title">이름</td>
                    <td>
                        <input type="text" name="name" id="enrollName" class="userInfo">
                    </td>
                    <td class="td-info-title">RF카드</td>
                    <td></td>
                    <td class="td-info-title">성별</td>
                    <td>
                        <input type="radio" name="enroll-gender-check"  value="남" checked="checked"> 남
                        <input type="radio" name="enroll-gender-check"  value="여"> 여
                    </td>
                </tr>
                <tr>
                    <td class="td-info-title">연락처</td>
                    <td colspan="3">
                        <input type="text" name="phone" id="enrollPhone" class="userInfo">
                        <input type="checkbox" name="sms" id="enrollSMS" value="on"> SMS동의
                        <input type="checkbox" name="tm" id="enrollTM"> TM동의
                    </td>
                    <td class="td-info-title">생년월일</td>
                    <td>
                        <input type="date" name="birthday" id="enrollBirthday" class="userInfo">
                    </td>


                </tr>
                <tr>
                    <td class="td-info-title">주소</td>
                    <td style="position: absolute">
                        <input type="text" name="zipcode" id="enrollZipCode" class="info-input userInfo" style="width: 100px" placeholder="우편번호">
                        <input type="button" id="enrollAddressSearchButton" onclick="searchAddress()" value="우편번호 찾기">
                        <input type="text" name="address" id="enrollAddress" class="info-input userInfo" style="width: 300px" placeholder="주소">
                        <input type="text" name="address-detail" id="enrollAddressDetail"class="info-input" placeholder="상세주소">
                    </td>
                </tr>
                <tr>
                    <td class="td-info-title">등록구분</td>
                    <td>
                        <select name="type" id="enrollType">
                            <option value="직원 등록" selected="selected">직원 등록</option>
                            <option value="무료체험 등록">무료체험 등록</option>
                            <option value="PT 문의 등록">PT 문의 등록</option>
                            <option value="이용권 문의 등록">이용권 문의 등록</option>
                            <option value="QR 등록">QR 등록</option>
                        </select>
                    </td>
                    <td class="td-info-title">방문경로</td>
                    <td>
                        <select name="visit-path" id="enrollVisitPath">
                            <option value="소개" selected="selected">소개</option>
                            <option value="TM">TM</option>
                            <option value="문자">문자</option>
                            <option value="홈페이지">홈페이지</option>
                            <option value="오프라인광고">오프라인광고</option>
                            <option value="온라인광고">온라인광고</option>
                            <option value="직접방문">직접방문</option>
                        </select>
                    </td>
                    <td class="td-info-title">추천인</td>
                    <td>
                        <input type="text" name="recommender" id="enrollRecommenderSearch" placeholder="추천인 검색...">
                    </td>
                </tr>
                <tr>
                    <td class="td-info-title">개인운동</td>
                    <td>
                        <input type="radio" name="enroll-self-workout-check"  value="예" checked="checked"> 예
                        <input type="radio" name="enroll-self-workout-check"  value="아니오"> 아니오
                    </td>
                    <td class="td-info-title">운동목표</td>
                    <td>
                        <select name="goal" id="enrollWorkoutGoal">
                            <option value="다이어트" selected="selected">다이어트</option>
                            <option value="근력증강">근력증강</option>
                            <option value="보디빌딩">보디빌딩</option>
                            <option value="건강">건강</option>

                        </select>
                    </td>
                    <td class="td-info-title">이메일</td>
                    <td>
                        <input type="text" name="email" id="enrollEmail" class="userInfo">
                    </td>
                </tr>
                <tr>
                    <td class="td-info-title">운동시간</td>
                    <td>
                        <input type="text" name="workout-hour" id="enrollWorkoutHour" min="0" value="0">
                    </td>
                    <td class="td-info-title">관심종목</td>
                    <td>
                        <select name="interest" id="enrollInterest">
                            <option value="헬스">헬스</option>
                            <option value="GX">GX</option>
                            <option value="개인레슨">개인레슨</option>
                            <option value="복싱">복싱</option>
                        </select>
                    </td>
                <tr>
                    <td class="td-info-title">메모</td>
                    <td style="line-height: normal">
                        <textarea name="memo" id="enrollMemo" cols="80" rows="5"></textarea>
                    </td>
                </tr>

            </table>
            <div class="enroll-button-container">
                <button type="submit" id="enrollButton" class="user-registration-button" style="background-color: #01B0F1; font-weight: bolder; color: #FFFFFF">등록</button>
                <button type="reset" id="enrollCancelButton" class="user-registration-button" style="color: #333333; font-weight: bolder">취소</button>
            </div>
        </form>

    </div>


</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    const $enrollCancelButton = $("#enrollCancelButton");
    const $enrollButton = $("#enrollButton");
    const $addressSearchButton = $("#addressSearchButton");

    // 이름		id : enrollName
    const $enrollName = $("#enrollName");

    // 연락처		id : enrollPhone
    const $enrollPhone = $("#enrollPhone");
    // 이메일		id : enrollEmail
    const $enrollEmail = $("#enrollEmail");
    // SMS		id : enrollSMS
    const $enrollSMS = $("#enrollSMS");
    // TM		id : enrollTM
    const $enrollTM = $("#enrollTM");
    // 생년월일		id : enrollBirthday
    const $enrollBirthday = $("#enrollBirthday");
    // 주소		id : enrollAddress
    const $enrollAddress = $("#enrollAddress");
    const $enrollAddressDetail = $("#enrollAddressDetail");
    const $enrollZipCode = $("#enrollZipCode");
    // 등록구분		id : enrollType
    const $enrollType = $("#enrollType");
    // 방문경로		id : enrollVisitPath
    const $enrollVisitPath = $("#enrollVisitPath");
    // 추천인		id : recommenderSearch
    const $recommenderSearch = $("#enrollRecommenderSearch");
    // 운동목표		id : enrollWorkoutGoal
    const $enrollWorkoutGoal = $("#enrollWorkoutGoal");
    // 운동시간		id : workoutHour
    const $enrollWorkoutHour = $("#enrollWorkoutHour");
    // 관심종목		id : enrollInterest
    const $enrollInterest = $("#enrollInterest");
    // 메모		id : enrollMemo
    const $enrollMemo = $("#enrollMemo");
    // 개인운동		name : enroll-self-workout-check
    let $enrollSelfWorkout = $('input[name="enroll-self-workout-check"]');
    // 성별		name : enroll-gender-check
    let $enrollGender = $('input[name="enroll-gender-check"]');


    $enrollButton.click(function(){
        let memberData = {
            name : $enrollName.val(),
            phone : $enrollPhone.val(),
            email : $enrollEmail.val(),
            birthday : $enrollBirthday.val(),
            zipcode : $enrollZipCode.val() ,
            address : $enrollAddress.val(),
            addressdetail : $enrollAddressDetail.val(),
            type : $enrollType.val(),
            visitpath : $enrollVisitPath.val(),
            recommender : $recommenderSearch.val(),
            goal : $enrollWorkoutGoal.val(),
            hour : $enrollWorkoutHour.val(),
            interest : $enrollInterest.val(),
            memo : $enrollMemo.val(),
            selfworkout : $enrollSelfWorkout.val(),
            gender : $enrollGender.val(),
            sms : $enrollSMS.is(':checked'),
            tm : $enrollTM.is(':checked')
        };
        let checkOk = false;
        $(".userInfo").each(function (index,item){
            if ($(this).val().trim() == ''){
                console.log("필수항목을 입력해주세요");
                $(this).css("border-color","#f88");
                checkOk = false;
            }else{
                console.log(memberData);
                checkOk = true;
            }
        })
        if (checkOk){
            // $.ajax({
            //     url : "/admin/enroll",
            //     type : 'post',
            //     async: false,
            //     data : memberData,
            //     success:function () {
            //         alert("등록 완료");
            //     },
            //     error:function(){
            //         alert("등록 실패");
            //     }
            // })
        }

        // let msg = "인증번호";
        // var templateParams = {
        //     //각 요소는 emailJS에서 설정한 템플릿과 동일한 명으로 작성!
        //     message: msg
        // };
        // emailjs.init('M-uvfE52G7puSTuwi');
        // emailjs.send('test_email', 'template_2n4pf7o', templateParams).then(function(response) {
        //     console.log('SUCCESS!', response.status, response.text);
        // }, function(error) {
        //     console.log('FAILED...', error);
        // });

    });



    function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    addr += " " + extraAddr;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                //우편번호
                $enrollZipCode.val(data.zonecode);
                //주소
                $enrollAddress.val(addr);
                //상세주소
                $enrollAddressDetail.focus();
            }
        }).open();
    }
    $enrollCancelButton.click(function(){
        $(".modal").fadeOut();
        console.log("cancel button click");
    });

</script>
</html>