:root{
    --pt-attend-reservation-color: #9999ff;
    --pt-absent-color: #FF416C;
    --ot-color: #777777;
    --gx-gpt-color: #ff7f50;
}

.pt-attend-reservation-color{
    color: var(--pt-attend-reservation-color);
}
.pt-absent-color{
    color: var(--pt-absent-color);
}
.ot-color{
    color: var(--ot-color);
}
.gx-gpt-color{
    color: var(--gx-gpt-color);
}
.schedule-layout-box{
    width: 100%;
    margin: 10px 0;
    overflow: auto;
    height: 800px;
}

.schedule-table{
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0px;
}
.schedule-table tr:nth-child(odd){
    background-color:  #dddddd;
}

.schedule-table th, schedule-table td {
    padding: 2px 0;

}
.schedule-table th{
    position: sticky;
    top: 0px;
    width: 150px;
    min-width: 150px;
    background-color: #ddddff;

}
.schedule-table th:first-child{
    left: 0;
    background: #dddddd;
    z-index: 10;
}
.trainers-box{
    padding: 0;
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}


.schedule-table td:first-child{
    width: 100px !important;
    padding: 0;
    background-color: #dddddd;
    position: sticky;
    left: 0;
}
