
* {
    margin: 0;
}


:root {
    --side-bar-width: 270px;
    --side-bar-height: 100vh;
}

a{
    color: white;
    text-decoration: none;
}
.container {
    margin-left: 12%;
}
.title-name {
    position: absolute;
    left: 250px;
}
.info-title-box-flex {
    display: flex;
    position: fixed;
    justify-content: flex-start;
}
.header-name{
    padding-top: 18px;
    position: relative;
    width: 60%;
    text-align: center;
    font-weight: 600;
}
.wrap{
    margin-top: 40px;
}
.container-margin {
    margin-right: 1%;
}
/*사이드 바*/
.side-bar {
    display: block;
    position: fixed;
    top: 55px;
    bottom: 0;
    z-index: 99;
    width: 11.5%;
    background-color: #4e4e4e;
}

.side-bar-first{
    display: block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.side-bar ul > li> a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    list-style-type: none;
}

.side-list:hover {
    background-color: #808080;
}

.side-list {
    padding-left: 15%;
    padding-bottom: 5%;
    position: relative;
    width: 85%;
}

.side-option {
    position: relative;
    display: block;
}
.user-info-container{
    display: flex;
    float: right;
    margin-right: 10px;
}
.sub-list{
    display: none;

}
.sub-option{
    position: relative;
    display: inline-block;
    padding: 6px 16px;
    margin-left: 5%;
    border-radius: 10px;

}
.sub-option:hover{
    background-color: #4e4e4e;
}
.title-line{
    margin: 10px 0;
}
.filter-wrap{
    width: 100%;
    background-color: #dddddd;
    border-radius: 3px;
    padding-left: 10px;
    margin: 10px 0;
}
.filter-confirm-button{
    margin: 15px 0;
    height: 30px;
    border: none;
    background-color: navy;
    color: white;
    border-radius: 2px;
    width: 70px;
    font-weight: bolder;
}
.filter-contents{
    height: 30px;
    border: none;
    border-radius: 3px;
    width: 10%;
}
.filter-name{
    background-color: #999;
    border-radius: 3px;
    padding: 3px 0;
    margin: 0 5px;
    width: 4%;
    display: inline-block;
    text-align: center
}