<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.replace.mapper.ProductMapper">
    <select id="selectAll" resultType="productDTO">
        SELECT P.ID, PRODUCT_NAME,PRODUCT_EXPIRE_DATES, PRODUCT_PRICE, GYM_ID, GYM_NAME
        FROM TBL_PRODUCT P join TBL_GYM G
        ON P.GYM_ID = G.ID
    </select>
    <insert id="insert">
        INSERT INTO TBL_PRODUCT(ID, PRODUCT_NAME, PRODUCT_EXPIRE_DATES,PRODUCT_PRICE, GYM_ID)
        VALUES (SEQ_PRODUCT.nextval,#{productName}, #{productExpireDates},#{productPrice}, #{gymId})
    </insert>
</mapper>