<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>document history</title>
</head>
<body>
<div class="filter-wrap">
    <span class="filter-name">날짜</span>
    <input type="date" class="filter-contents">
    <span> ~ </span>
    <input type="date" class="filter-contents">
    <input type="button" value="조회" class="filter-confirm-button">
    <input type="button" value="문진표 등록" class="filter-confirm-button" id="documentEnrollButton" style="background-color: #01B0F1;">
</div>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th>번호</th>
        <th>등록일</th>
        <th>체중(kg)</th>
        <th>근육량(kg)</th>
        <th>체지방량(kg)</th>
        <th>체지방률(%)</th>
        <th>신체점수(점)</th>
        <th>운동목표</th>
        <th>통증정보</th>
    </tr>
    <th:block th:if="${!#lists.isEmpty(documentList)}" th:each = "documents,index : ${documentList}">
        <tr class="history-data">
            <td th:text="${index.index}">n</td>
            <td th:text="${documents.documentDate}">yyyy-MM-dd</td>
            <td th:text="${documents.documentWeight}">0</td>
            <td th:text="${documents.documentMuscle}">0</td>
            <td th:text="${documents.documentFatKg}">0</td>
            <td th:text="${documents.documentFatPercent}">0</td>
            <td th:text="${documents.documentBodyScore}">0</td>
            <td th:text="${documents.documentGoal}">0</td>
            <td th:text="${documents.documentPainInfo}">0</td>
        </tr>
    </th:block>
    <th:block th:if="${#lists.isEmpty(documentList)}">
        <tr class="history-data">
            <td colspan="9" style="font-weight: bolder">데이터가 없습니다</td>
        </tr>
    </th:block>
</table>
</body>
<script src="/js/sidebar.js"></script>
<script>
    $("#documentEnrollButton").click(function (){

        $(".modal").load("documentEnrollModal");
        modalOn();
    })
</script>
</html>