<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>document history</title>
</head>
<body>
<div class="filter-wrap">
    <span class="filter-name">날짜</span>
    <input type="date" class="filter-contents">
    <span> ~ </span>
    <input type="date" class="filter-contents">
    <input type="button" value="조회" class="filter-confirm-button">
    <input type="button" value="문진표 등록" class="filter-confirm-button" id="documentEnrollButton" style="background-color: #01B0F1;">
</div>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th>번호</th>
        <th>등록일</th>
        <th>체중(kg)</th>
        <th>근육량(kg)</th>
        <th>체지방량(kg)</th>
        <th>체지방률(%)</th>
        <th>신체점수(점)</th>
        <th>운동목표</th>
        <th>통증정보</th>
    </tr>
    <tr class="history-data">
        <td>n</td>
        <td>yyyy-MM-dd</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>
</body>
<script>
    $("#documentEnrollButton").click(function (){

        $(".modal").load("documentEnrollModal");
        $(".modal").css('display', 'flex');
    })
</script>
</html>