<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>locker History</title>
</head>
<body>
<div class="filter-wrap">
    <span class="filter-name">날짜</span>
    <input type="date" class="filter-contents">
    <span> ~ </span>
    <input type="date" class="filter-contents">
    <input type="button" value="조회" class="filter-confirm-button">
</div>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th>번호</th>
        <th>배정일시</th>
        <th>라커번호</th>
        <th>유효기간</th>
        <th>회수일시</th>
        <th>처리자</th>
    </tr>
    <tr class="history-data">
        <td>n</td>
        <td>yyyy-MM-dd hh:mm:ss</td>
        <td>
            <span>라커>지점라커 [</span>
            <span>n</span>
            <span>]</span>
        </td>
        <td>yyyy-MM-dd ~ yyyy-MM-dd</td>
        <td>yyyy-MM-dd</td>
        <td>홍길동 점장</td>
    </tr>
</table>
</body>
</html>