<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ot History</title>
</head>
<body>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th>번호</th>
        <th>진행일시</th>
        <th>구분</th>
        <th>상품</th>
        <th>유효기간</th>
        <th>프로그램</th>
        <th>진행강사</th>
    </tr>
    <tr class="history-data">
        <td>n</td>
        <td>yyyy-MM-dd</td>
        <td>OT</td>
        <td>회원권 n개월</td>
        <td>yyyy-MM-dd ~ yyyy-MM-dd</td>
        <td>운동처방 트레이닝</td>
        <td>홍길동 프리</td>
    </tr>
</table>
</body>
</html>