<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>purchase History</title>
</head>
<body>
<div class="filter-wrap">
    <span class="filter-name">날짜</span>
    <input type="date" class="filter-contents">
    <span> ~ </span>
    <input type="date" class="filter-contents">
    <input type="button" value="조회" class="filter-confirm-button">
</div>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th>번호</th>
        <th>결제일</th>
        <th>결제상품</th>
        <th>유효기간(잔여일)</th>
        <th>상태</th>
        <th>결제금액</th>
        <th>미수금</th>
        <th>결제수단</th>
        <th>환불</th>
        <th>결제자</th>
        <th>상세설정</th>
    </tr>
    <tr class="history-data">
        <td>1</td>
        <td>2023-01-01</td>
        <td>PT 10회</td>
        <td>
            <span class="productStartDate">2023-01-01</span>
            <span> ~ </span>
            <span class="productEndDate">2023-01-11</span>
            <span class="productRemainDays">10</span>
            <span class="productCount">(0/10)</span>
        </td>
        <td>이용중</td>
        <td>990000</td>
        <td>0</td>
        <td>단말기(번호)</td>
        <td>0</td>
        <td>홍길동 프리</td>
        <td><input type="button" class="payment-history-button" value="설정"></td>
    </tr>
</table>
</body>
</html>