<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="filter-wrap">
    <span class="filter-name">날짜</span>
    <input type="date" class="filter-contents">
    <span> ~ </span>
    <input type="date" class="filter-contents">
    <input type="button" value="조회" class="filter-confirm-button">
</div>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th>번호</th>
        <th>등록일</th>
        <th>이름</th>
        <th>연락처</th>
        <th>시작일</th>
        <th>종료일</th>
        <th>결제금액</th>
    </tr>
    <tr class="history-data">
        <td>n</td>
        <td>yyyy-MM-dd</td>
        <td>홍길동</td>
        <td>010-0000-0000</td>
        <td>yyyy-MM-dd</td>
        <td>yyyy-MM-dd</td>
        <td>0</td>
    </tr>
</table>
</body>
</html>