<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update History</title>
</head>
<body>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th>번호</th>
        <th>수정일시</th>
        <th>구분</th>
        <th>상품</th>
        <th>내용</th>
        <th>처리자</th>
    </tr>
    <tr class="history-data">
        <td>n</td>
        <td>yyyy-MM-dd hh:mm:ss</td>
        <td>수정 대상 구분</td>
        <td>수정 대상</td>
        <td>수정사유</td>
        <td>홍길동 점장</td>
    </tr>
</table>
</body>
</html>