<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wearable History</title>
</head>
<body>
<div class="filter-wrap">
    <span class="filter-name">날짜</span>
    <input type="date" class="filter-contents">
    <span> ~ </span>
    <input type="date" class="filter-contents">
    <input type="button" value="조회" class="filter-confirm-button">
</div>
<table class="member-history-data-table">
    <tr class="member-history-data-title">
        <th rowspan="2">년월</th>
        <th rowspan="2">주차</th>
        <th rowspan="2">실운동시간</th>
        <th colspan="7">출석</th>
        <th rowspan="2">진행률</th>
    </tr>
    <tr class="member-history-data-title">
        <th>일</th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
    </tr>
    <tr class="history-data">
        <td>n년 n월</td>
        <td>
            <div>1주차</div>
            <div>yyyy-MM-dd</div>
        </td>
        <td>hh:mm:ss</td>
        <td>
            <div>
                <span>출석 : </span>
                <span>미출석</span>
            </div>
            <div>
                <span>칼로리 : </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
        <td>
            <div>
                <span>출석 : </span>
                <span>미출석</span>
            </div>
            <div>
                <span>칼로리 : </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
        <td>
            <div>
                <span>출석 : </span>
                <span>미출석</span>
            </div>
            <div>
                <span>칼로리 : </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
        <td>
            <div>
                <span>출석 : </span>
                <span>미출석</span>
            </div>
            <div>
                <span>칼로리 : </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
        <td>
            <div>
                <span>출석 : </span>
                <span>미출석</span>
            </div>
            <div>
                <span>칼로리 : </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
        <td>
            <div>
                <span>출석 : </span>
                <span>미출석</span>
            </div>
            <div>
                <span>칼로리 : </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
        <td>
            <div>
                <span>출석 : </span>
                <span>미출석</span>
            </div>
            <div>
                <span>칼로리 : </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
        <td>
            <div>
                <progress class="progress" value="50" min="0" max="100"></progress>
            </div>
            <div>
                <span>n</span>
                <span> kal / </span>
                <span>n</span>
                <span> kal</span>
            </div>
        </td>
    </tr>
</table>
</body>
</html>