<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>손익산출자료</title>
  <link rel="stylesheet" href="/css/sideBar.css">
  <link rel="stylesheet" href="/css/memberList.css">
  <link rel="stylesheet" href="/css/memberDetail.css">
</head>

<body>
<header>
  <div class="info-title-box flex">
    <div class="header-name">
      <span class="title-name">손익산출자료</span>
    </div>
    <div class="user-info-container" >
      <div style="margin-right: 5px">
        testId
      </div>
      <span>/</span>
      <a href="#"style="color: black; margin-left: 5px">로그아웃</a>
    </div>
  </div>
</header>
<div class="wrap">

  <!-- 사이드 바 -->

  <aside class="side-bar"></aside>

  <div class="container">
    <div class="container-margin">
      <!-- 내용 섹션 -->
      <h3 class="page-title">
        회계관리 > 손익산출자료
      </h3>
      <hr class="title-line">
      <div class="filter-wrap" style="display: block">
        <div class="filter-box">
          <span class="filter-name">기간</span>
          <input type="radio" name="byMonthOrWeek" class="filter-space" checked>
          <span class="" style="padding: 5px 0">월별</span>
          <input type="radio" name="byMonthOrWeek" class="filter-space">
          <span style="padding: 5px 0">주별</span>
          <select name="date-search-filter" id="dateSearchFilterStartYear" class="filter-contents filter-input-box-size filter-space">
            <option value="byEnrollDate">2023</option>
          </select>

          <input type="button" value="조회" class="filter-confirm-button">

        </div>
      </div>
      <div style="margin: 10px 0">
        <div>
          <span>※ FC 매출: 회원권 + 라커 + 운동복 + 등록비 + 양수비 + 일일이용권</span>
        </div>
        <br><br>
        <div>
          <table class="member-history-title-talbe" style="width: 20%">
            <tbody>
            <tr class="member-history-title-box">
              <th id="incomeResultDocument" onclick="titleActive(this)" class="member-history-title active-title">손익산출자료</th>
              <th id="paymentRequestDocument" onclick="titleActive(this)" class="member-history-title">지출요청자료</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div class="info-table-wrap" style="height: auto;">
          <section class="board-info-box-layout" style="width: 99%">

            <div class="board-info-box" style="width: 100%">

              <div class="info-table">
                <table class="member-list-table">
                  <tr class="member-list-header">
                    <th>유형</th>
                    <th>계정과목분류</th>
                    <th>계정과목</th>
                    <th>1월</th>
                    <th>2월</th>
                    <th>3월</th>
                    <th>4월</th>
                    <th>5월</th>
                    <th>6월</th>
                    <th>7월</th>
                    <th>8월</th>
                    <th>9월</th>
                    <th>10월</th>
                    <th>11월</th>
                    <th>12월</th>
                  </tr>

                  <tr class="member-list-data">
                    <td rowspan="5">수입</td>
                    <td>매출</td>
                    <td>FC-단말기(카드)</td>
                    <td>4,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">총매출</td>
                    <td>5,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">부가세</td>
                    <td>400,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">수수료</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">합계(순매출)</td>
                    <td>4,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data">
                    <td rowspan="3">지출</td>
                    <td>적용</td>
                    <td>소모품비</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>22,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">합계(적용지출)</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>22,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result red-box">
                    <td colspan="2">적용순수익 (순매출-적용지출)</td>
                    <td>4,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>-22,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </div>

        <div class="info-table-wrap" style="height: auto; display: none">
          <section class="board-info-box-layout" style="width: 99%">

            <div class="board-info-box" style="width: 100%">

              <div class="info-table">
                <table class="member-list-table">
                  <tr class="member-list-header">
                    <th>유형</th>
                    <th>계정과목분류</th>
                    <th>계정과목</th>
                    <th>1월</th>
                    <th>2월</th>
                    <th>3월</th>
                    <th>4월</th>
                    <th>5월</th>
                    <th>6월</th>
                    <th>7월</th>
                    <th>8월</th>
                    <th>9월</th>
                    <th>10월</th>
                    <th>11월</th>
                    <th>12월</th>
                  </tr>

                  <tr class="member-list-data">
                    <td rowspan="5">수입</td>
                    <td>매출</td>
                    <td>FC-단말기(카드)</td>
                    <td>4,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">총매출</td>
                    <td>5,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">부가세</td>
                    <td>400,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">수수료</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">합계(순매출)</td>
                    <td>4,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data">
                    <td rowspan="6">지출</td>
                    <td rowspan="4">적용</td>
                    <td>홍보_알바비</td>
                    <td>24,200</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data">
                    <td>복리후생비</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data">
                    <td>지급수수료</td>
                    <td>1,700,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data">
                    <td>소모품비</td>
                    <td>32,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result">
                    <td colspan="2">합계(적용지출)</td>
                    <td>1,800,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr class="member-list-data list-data-result red-box">
                    <td colspan="2">적용순수익 (순매출-적용지출)</td>
                    <td>2,000,000</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
      <br>

      </section>

      <!-- 페이지 버튼 -->
      <div class="page-button-box-layout">
        <div class="page-button-box">
          <div class="">
            <div class="page-button-margin">
              <div>
                <img src="/image/left_icon.png" class="left-button">
              </div>
            </div>
          </div>
          <!-- 현재 페이지 -->
          <div>1</div>
          <div class="">
            <div class="page-button-margin">
              <div>
                <img src="/image/right_icon.png" class="right-button ">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/sidebar.js"></script>
<script>
  const $historyTitles = $(".member-history-title");
  const $historyBody = $("#historyBody");
  function titleActive(data){
    $historyTitles.removeClass("active-title");
    $(data).addClass("active-title");
    $(".info-table-wrap").toggle();

  }

</script>
</html>