<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/test.css">
</head>
<body>
<div class="chartBox">
    <canvas id="myChart" style="height: 300px; width: auto"></canvas>
</div>
<div class="info" >
    This is the extra info box :
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
<script>

    let dataContainer = [];
    let colorContainer = [];
    let labelDisplay = [];
    let anchors = [];
    let aligns = [];

    for (let i = 0;i<12; i++){
        let val=Math.floor(Math.random() * 2000000) - 1000000;
        dataContainer.push(val);
        colorContainer.push('#dddddd');
        labelDisplay.push(false);
        anchors.push(val>=0 ? 'end' : 'start');
        aligns.push(val>=0 ? 'top' : 'bottom');
    }
    const ctx = document.getElementById('myChart');
    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['1월', '2월', '3월', '4월', '5월', '6월','7월', '8월', '9월', '10월', '11월', '12월'],
            datasets: [{
                label: '',
                data:dataContainer,
                borderWidth: 0,
                borderColor: colorContainer,
                backgroundColor : colorContainer,
                hoverBackgroundColor: '#888888',
                datalabels:{
                    display: labelDisplay,
                    color: 'black'
                }
            }]
        },
        options: {
            legend:{
                display: false
            },
            plugins:{
                legend:{
                    display: false,
                },
                datalabels:{
                    anchor:anchors,
                    align: aligns

                },
                title:{
                    display: true
                }
            },
            scales: {
                y: {
                    // beginAtZero: true
                    min:-1000000,
                    max:1000000
                },
                x:{
                    grid:{
                        display : false
                    }
                }
            },
            responsive:false,
            maintainAspectRatio:false,
            animation:{
                duration:0
            }
        },
        plugins: [ChartDataLabels],
        textAlign:"center",
        textBaseline:"bottom"

    });
    ctx.onclick = (evt) =>{
        const res = chart.getElementsAtEventForMode(
            evt,
            'nearest',
            { intersect: true },
            true
        );
        if (res.length === 0) {
            return;
        }
        if (chart.data.datasets[0].datalabels.display[res[0].index]) {
            chart.data.datasets[0].datalabels.display[res[0].index] = false;
            chart.data.datasets[0].backgroundColor[res[0].index] = '#dddddd';

        }else{
            chart.data.datasets[0].datalabels.display[res[0].index] = true;
            chart.data.datasets[0].backgroundColor[res[0].index] = '#444444';

        }

        chart.update()
    };

</script>



</html>