<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 상세</title>
    <link rel="stylesheet" href="../static/css/lockerManagement.css">
    <link rel="stylesheet" href="../static/css/test.css">
    <link rel="stylesheet" href="../static/css/sideBar.css">
</head>

<body>
<header>
    <div class="info-title-box flex">
        <div class="header-name">
            <span class="title-name">회원정보 관리</span>
        </div>
        <div class="user-info-container" >
            <div style="margin-right: 5px">
                testId
            </div>
            <span>/</span>
            <a href="#"style="color: black; margin-left: 5px">로그아웃</a>
        </div>
    </div>
</header>
<div class="wrap">

    <!-- 사이드 바 -->
    <aside class="side-bar"></aside>

    <div class="container">
        <div class="container-margin">
            <h3 class="page-title">
                회원관리 > 라커관리
            </h3>
            <!-- 헤더 -->
            <hr class="title-line">
            <div class="filter-wrap">
                <span class="filter-name">라커분류</span>
                <select name="locker-type" id="lockerType" class="filter-contents">
                    <option value="지점라커">지점라커</option>
                </select>

                <span class="filter-name">라커상태</span>
                <select name="locker-condition" id="lockerCondition" class="filter-contents">
                    <option value="all">전체</option>
                    <option value="using">사용중</option>
                    <option value="remain15Days">잔여15일</option>
                    <option value="overRemain">잔여 초과</option>
                </select>
                <span>남</span>
                <input type="radio" name="lockerGenderSelection" value="남">
                <span>여</span>
                <input type="radio" name="lockerGenderSelection" value="여">
                <span>공용</span>
                <input type="radio" name="lockerGenderSelection" value="공용">

                <input type="button" value="조회" class="filter-confirm-button">
            </div>
        </div>
    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/sidebar.js"></script>


</html>