<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일별 스케줄</title>
    <link rel="stylesheet" href="/css/sideBar.css">
    <link rel="stylesheet" href="/css/scheduleManagement.css">

</head>

<body>
<div>
    <header class="info-title-box flex">
        <div class="header-name">
            <span class="title-name">일별 스케줄 관리</span>
        </div>
    </header>
</div>
<div class="wrap">

    <!-- 사이드 바 -->

    <aside class="side-bar"></aside>

    <div class="container">
        <div class="container-margin">
            <!-- 내용 섹션 -->
            <h3 class="page-title">
                스케줄관리 &gt; 일별스케줄
            </h3>
            <hr class="title-line">
            <div class="filter-wrap" style="display: block">
                <div class="filter-box">
                    <form action="/admin/trainerScheduleManagementFilter" method="get">
                        <span class="filter-name">검색일자</span>
                        <input type="date" class="filter-contents filter-input-box-size" id="reservationDate" name="dateFilter" th:value="${dateFilter}">

                        <span class="filter-name filter-space">구분</span>
                        <select name="scheduleFilter" id="scheduleFilter" class="filter-contents filter-input-box-size">
                            <option value="all">전체</option>
                        </select>

                        <span class="filter-name filter-space">상태</span>
                        <select name="filter-condition" id="rfFilter" class="filter-contents filter-input-box-size">
                            <option value="all">전체</option>
                        </select>

                        <span class="filter-name filter-space">GX강사 포함</span>
                        <input type="checkbox" name="isGXTrainerInclude">
                        <input type="submit" value="조회" class="filter-confirm-button">
                    </form>

                </div>
            </div>
            <div class="notice-box">
                <div>
                    <span><strong class="pt-attend-reservation-color">█</strong> PT(예약,출석)</span>
                    <span><strong class="pt-absent-color">█</strong> PT(결석)</span>
                    <span><strong class="ot-color">█</strong> OT</span>
                    <span><strong class="gx-gpt-color">█</strong> GX/GPT</span>
                    <span style="margin-right: 5px">※ OT, 14D, FOT 는 회원권별 '출석' 회차를 카운트 합니다</span>

                </div>
                <div>
                    <span style="font-weight: bolder">※ PT예약취소 : 수업시작 <strong style="color: red">6시간 전</strong>까지 예약취소 가능 / ※ PT 출석처리 : 수업종료 <strong style="color: red">3시간 후</strong>까지 출석처리 가능 (미출석시 자동 결석처리)</span>
                </div>
            </div>
            <section class="schedule-layout-box">
                <table class="schedule-table">
                    <tr class="trainers-box">
                        <th class="blankBox">시간</th>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">00:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">01:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">02:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">03:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">04:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">05:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">06:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">07:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">08:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">09:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">10:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">11:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">12:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">13:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">14:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">15:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">16:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">17:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">18:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">19:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">20:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">21:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">22:00</td>
                    </tr>
                    <tr class="trainer-schedule-data">
                        <td class="timeSchedule">23:00</td>
                    </tr>
                </table>
            </section>

        </div>
    </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/sidebar.js"></script>
<script th:inline="javascript">


    const $trainerScheduleData = $(".trainer-schedule-data");
    const $trainersBox = $(".trainers-box");

    const scheduleTypes = ["GPT" ,  "SELF" ,   "OT"  ,   "PT"  ,  "FOT"  ,  "14D"  ,  "GX"];
    const typeColors = ["#de9449","#c0c0c0","#c9a3c9","#91b9ed","#707070","#d0d0a0","#a0d0d0"];
    const statusColors = [];
    let tempData = [];
    let datas= [[${datas}]];
    const today = [[${today}]];

    console.log(today);
    console.log(datas);

    while(datas.length > 0){
        tempData= [];
        tempData.push(datas[0]);
        datas.splice(0,1);
        for (let i = 0; i< datas.length ; i++){
            if (tempData[0].staffId === datas[i].staffId){
                tempData.push(datas[i]);//가장 첫번째 있는 객체의 staffId 전체 객체의 staffId 와 비교하고 동일 staffId 를 가진 것만 걸러서 따로 저장
                datas.splice(i,1);
                i--;
            }
        }
        $trainersBox.append(
            "<th>"+ tempData[0].memberName + "</th>"
        );
        console.log(tempData);

        $.each($trainerScheduleData, function (index,row){

            let contentData = "";
            tempData.forEach((data) => {

                if (index === data.scheduleStartHour && data.id > 0){
                    contentData += scheduleDataSetting(data);
                }
            })
            $(row).append("<td style='padding: 0'>" + contentData + "</td>");
        });
    }

    function scheduleDataSetting(inputData){
        return "<div style='background-color:"+ typeColors[scheduleTypes.indexOf(inputData.scheduleType)]+"'>"+
            inputData.scheduleType +
            "<br>("+
            (inputData.scheduleStartHour < 10 ? "0"+inputData.scheduleStartHour:inputData.scheduleStartHour) + ":" +
            (inputData.scheduleStartMin < 10 ? "0"+inputData.scheduleStartMin:inputData.scheduleStartMin) + "~" +
            (inputData.scheduleEndHour < 10 ? "0"+inputData.scheduleEndHour:inputData.scheduleEndHour) +":" +
            (inputData.scheduleEndMin < 10 ? "0"+inputData.scheduleEndMin:inputData.scheduleEndMin) + ")"
            +"</div>";
    }



</script>
</html>